@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
:root {
  --color-gray: #a5a5a5;
  --color-white: #ebebeb;
  --font-main: "Montserrat", sans-serif;
  --color-dark-gray: #7e7e7e;
  --color-darker-gray: #484848;
  --color-linear: linear-gradient(135deg, #450af5, #c4efd9);
}

.custom-navbar {
  position: relative;
  height: calc(100vh - 90px);
  /* TODO: Calculate height depend on  the bottom of page */
  background-color: black;
  width: 240px;
  color: var(--color-gray);
  font-family: var(--font-main);
  font-size: 0.8rem;
  font-weight: 600;
  padding-block: 20px;
  padding-inline: 8px;
}

.custom-navbar .navbar-logo {
  width: 135px;
  height: auto;
  object-fit: cover;
}

.active-link > .link-text,
.active-link > .icon-div {
  color: white;
}

.custom-navbar .icon-div {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 8px;
}

.custom-navbar .navbar-top .primary-options {
  margin-block: 25px;
}

.custom-navbar .navbar-top .primary-options i,
.install-icon {
  font-size: 23px;
}

.custom-navbar .navbar-top a {
  text-decoration: none;
  color: var(--color-gray);
}

.custom-navbar .navbar-top .secondary-options .create-playlist-icon {
  background-color: var(--color-gray);
  color: black;
  border-radius: 2px;
}

.custom-navbar .navbar-top .secondary-options .liked-songs-icon {
  background: var(--color-linear);
  border-radius: 2px;
  /* filter: brightness(30%); */
  box-shadow: inset 0px 0px 400px 110px rgb(0, 0, 0, 0.4);
  transition: box-shadow 0.4s ease-out;
}

.divider {
  background-color: #252525;
  border-width: 0.5px;
  margin-block: 10px;
}

.custom-navbar .navbar-bottom {
  float: left;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100% - 338px);
  font-size: 0.8rem;
}
.custom-navbar .navbar-bottom .navbar-playlist {
  list-style: none;
}

.custom-navbar .navbar-bottom .navbar-playlist .navbar-playlist-item {
  margin-block: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: default;
}

.navbar-bottom::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.navbar-bottom::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.navbar-bottom::-webkit-scrollbar-thumb {
  background-color: var(--color-darker-gray); /* color of the scroll thumb */
  max-height: 50px;
}

.collaborative-playlist-item {
  position: relative;
  padding-right: 20px;
}
.collaborative-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 15px;
  width: 15px;
}

.install-app {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: black;
  z-index: 999;
  padding-inline: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.install-app a {
  text-decoration: none;
  color: var(--color-gray);
  transition: color 0.4s ease-out;
}

.link-text,
.custom-navbar .navbar-top .secondary-options > div > a {
  transition: color 0.4s ease-out;
}

.create-playlist-icon {
  transition: background-color 0.4s ease-out;
}

.custom-navbar .navbar-bottom .navbar-playlist .navbar-playlist-item:hover,
.custom-navbar .navbar-top .primary-options div > a:hover .link-text,
.custom-navbar .navbar-top .secondary-options > div > a:hover,
.custom-navbar .install-app > div:hover {
  color: white;
}

.custom-navbar
  .navbar-top
  .secondary-options
  .create-playlist
  > a:hover
  .create-playlist-icon {
  background-color: white;
}

.custom-navbar
  .navbar-top
  .secondary-options
  .liked-songs
  > a:hover
  .liked-songs-icon {
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0);
}

.install-app a:hover {
  color: white;
}

.song_list {
  width: 100%;
  height: calc(100vh - 90px);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 32%,
    rgba(186, 51, 148, 1) 79%
  );
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.buttons {
  width: 75px;
}

.upper_hat {
  padding-top: 10px;
  padding-bottom: 45px;
  padding-inline: 30px;
}

.buttons button {
  width: 30px;
  aspect-ratio: 1/1;
  border: 0px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.buttons button:hover {
  opacity: 1;
}

.btn {
  border: 0px;
  width: 140px;
  height: 30px;
  border-radius: 23px;
  position: relative;
  padding: 4px;
}

.album_cover {
  padding-inline: 30px;
  margin-bottom: 15px;
}

.album_cover img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}

.bottom_text img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.album_name {
  padding-left: 22px;
}

.album_name > span:last-of-type {
  font-size: 35px;
}

.album_name > span:first-of-type,
.bottom_text span {
  font-size: 12px;
}

.playlist {
  height: 500%;
  background-color: rgb(0, 0, 0, 0.5);
  padding-inline: 30px;
}

.play_button {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #02ff5a;
  position: relative;
}

.play_button i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.play_song {
  padding-top: 20px;
  margin-bottom: 20px;
}

.fa-ellipsis,
.bi-heart {
  font-size: 30px;
}

.fa-ellipsis,
.bi-heart,
.play_button {
  margin-right: 30px;
  cursor: pointer;
}

.upper_part {
  text-transform: uppercase;
  font-size: 14px;
  padding-inline: 15px;
}

hr {
  background-color: lightgray;
}

#footer {
  background-color: #191919;
  color: white;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

#footer-container {
  width: 100vw;
  height: 90px;
}

#music-player-container {
  height: 90px;
}

#image-music-player {
  width: 70px;
  height: 70px;
  background-color: green;
}

.playPauseButton {
  font-size: 35px;
}

.slider_container {
  /* width: 75%;  */
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider {
  width: 80%;
}

.music-player-font-size {
  font-size: 20px;
  /* / margin-inline: 20px; /
  / width: 200px; */
  color: white;
}

.song_is {
  margin-left: 18px;
  font-size: 15px;
}

.song_artist {
  font-size: 13px;
}

.col {
  margin-bottom: 15px;
}

.account {
  background-color: #252525;
}

.point-divider {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  margin-inline: 5px;
}

.play_button:hover {
  width: 52px;
  aspect-ratio: 1/1;
  padding-top: -2px;
  margin-bottom: -2px;
  margin-right: 28px;
}

.playlist i {
  color: lightgray;
}

.playlist i:hover {
  color: white;
}

.play_button i:first-of-type {
  color: black;
}

.col:hover {
  background-color: rgb(128, 128, 128, 0.5);
  border-radius: 5px;
}

.col:hover + .display_none {
  display: inline;
}

span.ml-auto {
  margin-right: 50px;
}

.track_num {
  position: relative;
}

i.display_none {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.col:hover i.display_none {
  display: block;
}

.col:hover .number {
  display: none;
}
.col:hover .song_is {
  padding-left: 8px;
}

.buttons button a {
  color: white;
}

.bi-clock {
  margin-right: 50px;
}

.margin_span {
  margin-left: auto;
  margin-right: 48px;
}

i.track_dots {
  margin-right: 0;
  margin-left: 20px;
}

i.track_dots,
i.track_heart {
  font-size: 16px;
  display: none;
}

.col:hover i.track_heart {
  display: block;
}

.col:hover i.track_dots {
  display: block;
  margin-left: -15px;
}

.col:hover span.margin_span {
  margin-left: 0;
}

.artist_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* footer mobile */
.main {
  position: relative;
}
.footer-mobile {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9) 50px
  );
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

.footer-mobile-player,
.footer-mobile-navbar {
  height: 64px;
}

.footer-mobile-player {
  background-color: var(--color-darker-gray);
  border-radius: 5px;
}

.mobile-player-img-div {
  height: 85px;
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
}

.mobile-player-song-div {
  width: 100%;
  overflow: hidden;
  margin-inline: 10px;
}
.mobile-player-song {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#image-music-player img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mobile-player-icons .bi-pc-display {
  font-size: 1.3rem;
}
.mobile-player-icons .bi-play-fill {
  font-size: 2rem;
}

.footer-mobile a {
  text-decoration: none !important;
  color: var(--color-gray);
}
.mobile-player-artist {
  color: var(--color-gray);
}

.footer-mobile-navbar i {
  font-size: 1.3rem;
}

/* ***************************************** */
/* @media screen and (max-width: 575px) {
  .footer-mobile {
    display: block;
  }
  .home-page {
    width: 100vw;
    font-size: 0.8rem;
  }

  .heading-primary,
  .heading {
    font-size: 1.4rem;
  }
  .main {
    height: calc(100vh);
    width: 100%;
    padding-top: 30px;
  }

  .footer,
  .custom-navbar,
  #navbar-container {
    display: none;
  }
} */
#song_bar {
  display: none;
}

.mobile_navbar {
  display: none;
}

.play_song {
  justify-content: start;
}

.artist-name-footer {
  margin-top: 15px;
}

#footer {
  background-color: #191919;
  color: var(--color-white);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#footer-container {
  width: 100vw;
  height: 90px;
}

#music-player-container {
  height: 90px;
}

#image-music-player {
  width: 70px;
  height: 70px;
  background-color: green;
}

.playPauseButton {
  font-size: 35px;
}

.slider_container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-player-font-size {
  font-size: 20px;
  color: var(--color-white);
}

#seek-slider {
  width: 60%;
  height: 3px;
}

#volume-slider {
  margin-block: auto;
  width: 80%;
  height: 3px;
}

#controls-above-audio-player {
  margin-left: 60px;
}

#controls-above-audio-player i,
#controls-right-side-of-footer i,
#heart-footer i,
#artist-and-song-footer div {
  color: var(--color-white);
  transition: color 0.5s;
}

#controls-above-audio-player i:hover,
#controls-right-side-of-footer i:hover,
#heart-footer i:hover,
#artist-and-song-footer div:hover {
  color: grey;
}

#artist-and-song-footer {
  width: 100px;
  height: 70px;
}

#artist-and-song-footer div {
  cursor: default;
  font-size: 15px;
  width: 100%;
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.red-color {
  cursor: pointer;
  color: rgb(249, 71, 71) !important;
}

.wirte-just-on-one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.align-to-the-left {
  position: relative;
  left: -10px;
}

.center-image {
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 576px) and (max-width: 959px) {
  .custom-navbar {
    display: none;
  }
  .mobile_navbar,
  .mobile_current_track {
    display: block;
    height: 88px;
    background-color: rgb(83, 83, 83);
  }

  #song_bar {
    display: flex;
  }

  .mobile_current_track .row {
    padding: 0;
  }

  .mobile_navbar .row {
    height: 100%;
  }

  .mobile_navbar .row .col-4 {
    padding: 0;
    color: white;
  }

  .mobile_navbar .row .col-4 i {
    font-size: 30px;
  }

  #footer-container {
    display: none;
  }

  .album_cover {
    flex-direction: column;
    align-items: center;
  }

  #logo_album {
    height: 500px;
    width: 500px;
  }

  .album_name {
    align-items: center;
  }

  .album_name span:first-of-type {
    font-size: 20px;
    margin-top: 30px;
  }

  #name_of_album {
    font-size: 53px;
    text-align: center;
  }

  .album_name div {
    margin-top: 30px;
  }

  .fa-play:before,
  .bi-heart::before {
    font-size: 42px;
  }

  .play_song .play_button {
    display: none;
  }

  .play_song .fa-ellipsis {
    display: none;
  }

  .play_song .bi-heart {
    display: none;
  }

  .mobile_play_btn {
    width: 70px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
  }

  .mobile_play_btn i {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .back,
  .forward {
    color: white;
    font-size: 60px;
  }

  .mobile_current_track {
    border-bottom: 2px gray solid;
  }

  .upper_part {
    font-size: 50px;
  }

  .col .track_num {
    font-size: 40px;
  }

  .song_is span {
    font-size: 40px;
  }

  .song_is div {
    font-size: 20px;
  }

  .margin_span {
    font-size: 40px;
  }

  #small_artist {
    font-size: 35px;
  }

  #small_artist span {
    font-size: 35px;
  }

  .bottom_text img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .mobile_current_track .row {
    height: 100%;
  }

  .song {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 15px;
  }

  .btn_cnt {
    font-size: 30px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .custom-navbar {
    display: none;
  }
  .mobile_navbar,
  .mobile_current_track {
    display: block;
    height: 88px;
    background-color: rgb(83, 83, 83);
  }

  #song_bar {
    display: flex;
  }

  .mobile_current_track .row {
    padding: 0;
  }

  .mobile_navbar .row {
    height: 100%;
  }

  .mobile_navbar .row .col-4 {
    padding: 0;
    color: white;
  }

  .mobile_navbar .row .col-4 i {
    font-size: 30px;
  }

  #footer-container {
    display: none;
  }

  .album_cover {
    flex-direction: column;
    align-items: center;
  }

  #logo_album {
    height: 400px;
    width: 400px;
  }

  .album_name {
    align-items: center;
  }

  .album_name span:first-of-type {
    font-size: 20px;
    margin-top: 30px;
  }

  #name_of_album {
    font-size: 30px;
    text-align: center;
  }

  .album_name div {
    margin-top: 11px;
  }

  .fa-play:before,
  .bi-heart::before {
    font-size: 42px;
  }

  .play_song .play_button {
    display: none;
  }

  .play_song .fa-ellipsis {
    display: none;
  }

  .play_song .bi-heart {
    display: none;
  }

  .mobile_play_btn {
    width: 70px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
  }

  .mobile_play_btn i {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .back,
  .forward {
    color: white;
    font-size: 45px;
  }

  .mobile_current_track {
    border-bottom: 2px gray solid;
  }

  .upper_part {
    font-size: 25px;
  }

  .col .track_num {
    font-size: 25px;
  }

  .song_is span {
    font-size: 20px;
  }

  .song_is div {
    font-size: 15px;
  }

  .margin_span {
    font-size: 25px;
  }

  #small_artist {
    font-size: 22px;
  }

  #small_artist span {
    font-size: 22px;
  }

  .bottom_text img {
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
    margin-right: 5px;
  }

  .mobile_current_track .row {
    height: 100%;
  }

  .song {
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    margin-left: 15px;
  }

  .btn_cnt {
    font-size: 30px;
  }
}
