/* ***************************************** */
/* navbar-container (header): */

.nav-active {
  /* background-color: #540302; */
}

/* #navbar-container nav {
    background-color: #6c676721;
  } */

#account-container {
  border-radius: 50px;
  background-color: #170708;
  height: 30px;
  width: 150px;
  border: none;
}

.person-icon-account {
  position: absolute;
  left: 0;
  right: 0;
  top: 1px;
  bottom: 0;
}

.wirte-just-on-one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.align-to-the-left {
  position: relative;
  left: -10px;
}

.seeMoreButton {
  padding-left: 20px;
  font-size: 10px;
  font-weight: bold;
}

.arrowLeftAndRight {
  display: flex;
  height: 30px;
  width: 30px;
  background-color: #3b393952;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  color: white;
}

.arrow-right {
  color: grey;
}

/* #profile-tag {
    background-color: #170708;
    color: white;
    border-radius: 100px;
    display: block;
    width: 150px;
    height: 30px;
  } */

#profile-image {
  display: inline-block;
  min-height: 28px;
  min-width: 28px;
  border-radius: 50%;
  background-color: grey;
  position: relative;
}

/* ***************************************** */
/* header mobile */
.header-mobile {
  visibility: hidden;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto 0;
}

.header-mobile a {
  color: white;
  padding-left: 15px;
}

.header-mobile i {
  font-size: 1.5rem;
}

/* **************************** */

/* ***************************************** */
@media screen and (min-width: 500px) and (max-width: 575px) {
}
@media screen and (max-width: 575px) {
  .footer-mobile {
    display: block;
  }

  .header-mobile {
    visibility: visible;
  }
  .home-page {
    width: 100vw;
    font-size: 0.8rem;
  }

  .heading-primary,
  .heading {
    font-size: 1.4rem;
  }
  .main {
    height: calc(100vh);
    width: 100%;
    padding-top: 50px;
  }

  .footer,
  .custom-navbar,
  #navbar-container {
    display: none;
  }

  .album-card-horizontal {
    min-width: auto;
    padding-right: 10px;
  }
  .album-card-horizontal-name {
    padding-right: 10px;
  }

  .recently-played-section-row > div,
  .shows-to-try-section-row > div {
    display: block;
  }

  .song-card-vertical,
  .artist-card-vertical {
    padding-inline: 15px;
    height: 319px;
    width: 241px;
  }
  /* *********** */

  .recently-played-section-row,
  .shows-to-try-section-row {
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: block;
  }
}
