/* ***************************************** */
/* ***************************************** */
/* ***************************************** */
/* navbar (left side) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
:root {
  --color-gray: #a5a5a5;
  --color-white: #ebebeb;
  --font-main: "Montserrat", sans-serif;
  --color-dark-gray: #7e7e7e;
  --color-darker-gray: #484848;
  --color-linear: linear-gradient(135deg, #450af5, #c4efd9);
}

.custom-navbar {
  position: relative;
  height: calc(100vh - 90px);
  /* TODO: Calculate height depend on  the bottom of page */
  background-color: black;
  width: 240px;
  color: var(--color-gray);
  font-family: var(--font-main);
  font-size: 0.8rem;
  font-weight: 600;
  padding-block: 20px;
  padding-inline: 8px;
}

.custom-navbar .navbar-logo {
  width: 135px;
  height: auto;
  object-fit: cover;
}

.active-link > .link-text,
.active-link > .icon-div {
  color: white;
}

.custom-navbar .icon-div {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 8px;
}

.custom-navbar .navbar-top .primary-options {
  margin-block: 25px;
}

.custom-navbar .navbar-top .primary-options i,
.install-icon {
  font-size: 23px;
}

.custom-navbar .navbar-top a {
  text-decoration: none;
  color: var(--color-gray);
}

.custom-navbar .navbar-top .secondary-options .create-playlist-icon {
  background-color: var(--color-gray);
  color: black;
  border-radius: 2px;
}

.custom-navbar .navbar-top .secondary-options .liked-songs-icon {
  background: var(--color-linear);
  border-radius: 2px;
  /* filter: brightness(30%); */
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4s ease-out;
}

.divider {
  background-color: #252525;
  border-width: 0.5px;
  margin-block: 10px;
}

.custom-navbar .navbar-bottom {
  float: left;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100% - 338px);
  font-size: 0.8rem;
}
.custom-navbar .navbar-bottom .navbar-playlist {
  list-style: none;
}

.custom-navbar .navbar-bottom .navbar-playlist .navbar-playlist-item {
  margin-block: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: default;
}

.navbar-bottom::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.navbar-bottom::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.navbar-bottom::-webkit-scrollbar-thumb {
  background-color: var(--color-darker-gray); /* color of the scroll thumb */
  max-height: 50px;
}

.collaborative-playlist-item {
  position: relative;
  padding-right: 20px;
}
.collaborative-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 15px;
  width: 15px;
}

.install-app {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: black;
  z-index: 999;
  padding-inline: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.install-app a {
  text-decoration: none;
  color: var(--color-gray);
  transition: color 0.4s ease-out;
}

.link-text,
.custom-navbar .navbar-top .secondary-options > div > a {
  transition: color 0.4s ease-out;
}

.create-playlist-icon {
  transition: background-color 0.4s ease-out;
}

.custom-navbar .navbar-bottom .navbar-playlist .navbar-playlist-item:hover,
.custom-navbar .navbar-top .primary-options div > a:hover .link-text,
.custom-navbar .navbar-top .secondary-options > div > a:hover,
.custom-navbar .install-app > div:hover {
  color: white;
}

.custom-navbar
  .navbar-top
  .secondary-options
  .create-playlist
  > a:hover
  .create-playlist-icon {
  background-color: white;
}

.custom-navbar
  .navbar-top
  .secondary-options
  .liked-songs
  > a:hover
  .liked-songs-icon {
  box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0);
}

.install-app a:hover {
  color: white;
}

/* ******************** */

/* ***************************************** */
@media screen and (min-width: 500px) and (max-width: 575px) {
}
@media screen and (max-width: 575px) {
  .footer-mobile {
    display: block;
  }

  .header-mobile {
    visibility: visible;
  }
  .home-page {
    width: 100vw;
    font-size: 0.8rem;
  }

  .heading-primary,
  .heading {
    font-size: 1.4rem;
  }
  .main {
    height: calc(100vh);
    width: 100%;
    padding-top: 50px;
  }

  .footer,
  .custom-navbar,
  #navbar-container {
    display: none;
  }

  .album-card-horizontal {
    min-width: auto;
    padding-right: 10px;
  }
  .album-card-horizontal-name {
    padding-right: 10px;
  }

  .recently-played-section-row > div,
  .shows-to-try-section-row > div {
    display: block;
  }

  .song-card-vertical,
  .artist-card-vertical {
    padding-inline: 15px;
    height: 319px;
    width: 241px;
  }
  /* *********** */

  .recently-played-section-row,
  .shows-to-try-section-row {
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: block;
  }
}
